body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

#posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    max-width: 600px;
    height: calc(100vh - 60px);
}

.post {
    background-color: #1c1c1e;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.post img {
    width: 100%;
    border-radius: 10px;
}

.post:hover {
    transform: scale(1.05);
}

.tags {
    margin-top: 10px;
    font-size: 0.9em;
    color: #aaa;
}
